header label{
    font-size: 28px;
    margin-left: 5%;
}
header nav{
    position: fixed;
    top: 90px;
    left: -100%;
    padding-top: 50px;

    min-height: 100vh;
    background-color: rgb(36, 34, 34);
    width: 100%;
    z-index: 1000;
    transition: all 0.5s ease-in-out ;
    
}
header nav a{
    display: block;
    text-align: center;
    line-height: 0px;
    font-size: 20px;
    margin-top: 70px;
    margin-left: 0px;

}
#check{
    display: none;
}
.checkbtn{
    margin-left: 5%;
    font-size: 25px;
    display: inline;
    
}
.checkbtn i{
    color: rgb(194, 82, 74);
    line-height: 90px;
}

#check:checked ~ nav{
    left: 0;
}

/* ----------home-------------------- */
.home-text{
    padding-top: 0px;
    margin-top: 45px;
}
.home-text h1{
    margin-bottom: 7px;
    }
.home-image {
    margin-top: 30px;

}
/* --------------about-------------- */
.about-video{
    max-width: 95%;
}
.about-text{
    margin: 10px 15px 0px 15px;

}
.icons .delivery,.cash ,.payment, .gift{
    
    max-width: 250px;
}
.icons i{
    font-size: 40px;
}
/* --------------product-------------- */
.flower1,.flower2,.flower3 ,.flower4,.flower5,.flower6{
    width: 70%;
}
.flower1 img,.flower2 img,.flower3 img ,.flower4 img,.flower5 img,.flower6 img{
    width: 90%;
}
/* ----------------------review------------ */
.review-container{
    margin-top: 40px;
}
.stars i{
    font-size: 21px;
}
.review-container p{
    font-size: 16px;
}
.review-container h3{
    float: none;
    margin-top: 30px;
    margin-left:10px ;
}
.review-container span{

    margin-left: 10px;
    
    font-family: David Libre;
    color: rgb(109, 106, 106);
}
/* ------------------contact----- */
.contact-container{
    margin-top: 40px;
}
.contact-container .text-form{
    width: 90%;
}
/* --------------footer------------- */
.footer-container h3{
    font-size: 20px;
}
ul li{
    font-size: 16px;
}
.quick-links ,.Extra-links,.Locations,.contact-info{
    width: 60%;
    float: none;
    margin-left: 15px;
    margin-top: 20px;
}
.quick-links{
    margin-left: 15px;
    margin-top: 40px;

}
.copy h2{
    font-size: 15px;
    padding-top: 15px;
    color: gray;
}
